// FOOTER::START
footer.footer
  .container
    .footer__wrapper
      .footer__left
        .footer__copy © Draw&Go
        .footer__links
          a(href='#') 
            span лицензионное соглашение
          a(href='#') 
            span договор оферты
          a(href='#') 
            span контакты
      .footer__authors
        span Сайт сделали
        a(href='https://www.pink-man.ru' target='_blank')
          i.icon.icon-pinkman
        i.icon.icon-copy-plus
        a(href='#')
          i.icon.icon-creatives
