// HEADER::START
header.header
  .container
    .header__wrapper
      a(href='index.html').header__logo
        img(src='images/el/logo.png' srcset='images/el/logo@2x.png 2x')
      ul.header__menu
        li.active
          a(href='dashboard.html') dashboard
        li 
          a(href='settings.html') настройки
        li
          a(href='activity.html') активность
        li
          a(href='myworks.html') мои работы
        li
          a(href='community.html') коммьюнити
      .header__user
        a(href='#').header__user__avatar
          .header__user__image
            img(src='images/tmp/avatar.png' srcset='images/tmp/avatar@2x.png 2x')
        a(href='#').header__user__name Владимир-Долгий-Рапопорт
        a(href='#').header__user__logout выйти
        
    
