// HEADER::START
header.header
  .container
    .header__wrapper.header__wrapper--center
      .header__logo
        img(src='images/el/logo.png' srcset='images/el/logo@2x.png 2x')
      .header__phone 
        a(href='tel:89255952440').header__phone__main 8 925 595 2440
        span 
          span бесплатно по всему миру – 
          a(href='tel:88005504676') 8 800 301 7285
        
