// HEADER::START
header.header
  .container
    .header__wrapper
      a(href='#').header__logo
        img(src='images/el/logo.png' srcset='images/el/logo@2x.png 2x')
      ul.header__menu
        li.active
          a(href='#') dashboard
        li 
          a(href='#') настройки
        li
          a(href='#') активность
        li
          a(href='#') мои работы
        li
          a(href='#') коммьюнити
      .header__user
        a(href='#').header__user__avatar
          .header__user__image
            img(src='images/tmp/avatar.png' srcset='images/tmp/avatar@2x.png 2x')
        a(href='#').header__user__name Владимир-Долгий-Рапопорт
        a(href='#').header__user__logout выйти
        
    
