// HEADER::START
header.header
  .container
    .header__wrapper.header__wrapper--center
      .header__logo
        img(src='images/el/logo.png' srcset='images/el/logo@2x.png 2x')
      a(href='tel:88005504676').header__phone 8-800-550-46-76
