
// SECONDARY STYLES


//build:css css/secondary.css
link(rel="stylesheet" href="components/social-feed/css/jquery.socialfeed.css" type="text/css")
link(rel="stylesheet" href="css/secondary.css" type="text/css")
//endbuild
        
//build:css css/extra.css
link(rel="stylesheet" href="css/extra.css" type="text/css")
//endbuild
      
// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/slick-carousel/slick/slick.min.js")
script(src="components/jquery-mask-plugin/dist/jquery.mask.min.js")
script(src="components/jquery-validation/dist/jquery.validate.min.js")
script(src="components/wow/dist/wow.min.js")
//script(src="components/doT/doT.min.js")
//script(src="components/social-feed/js/jquery.socialfeed.js")
script(src="js/libs/instafeed.js")
script(src="js/libs/dropzone.js")
script(src="js/utilities.js")
script(src="js/validate.js")
script(src="js/main.js")
//endbuild
