// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.2s' data-id='3')
  .blog-card__image
    img(src='images/blog/blogCard_1.jpg' srcset='images/blog/blogCard_1@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Как научиться рисовать живопись
    .blog-card__date 22.01.2017, 18:01
// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.4s' data-id='4')
  .blog-card__image
    img(src='images/blog/blogCard_2.jpg' srcset='images/blog/blogCard_2@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Что такое пейзаж 4
    .blog-card__date 22.01.2017, 18:01
// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.2s' data-id='5')
  .blog-card__image
    img(src='images/blog/blogCard_1.jpg' srcset='images/blog/blogCard_1@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Как научиться рисовать живопись 5
    .blog-card__date 22.01.2017, 18:01

// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.2s' data-id='6')
  .blog-card__image
    img(src='images/blog/blogCard_1.jpg' srcset='images/blog/blogCard_1@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Как научиться рисовать живопись 6
    .blog-card__date 22.01.2017, 18:01
// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.4s' data-id='7')
  .blog-card__image
    img(src='images/blog/blogCard_2.jpg' srcset='images/blog/blogCard_2@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Что такое пейзаж 7
    .blog-card__date 22.01.2017, 18:01
// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.2s' data-id='8')
  .blog-card__image
    img(src='images/blog/blogCard_1.jpg' srcset='images/blog/blogCard_1@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Как научиться рисовать живопись 8
    .blog-card__date 22.01.2017, 18:01

// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.2s' data-id='9')
  .blog-card__image
    img(src='images/blog/blogCard_1.jpg' srcset='images/blog/blogCard_1@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Как научиться рисовать живопись 9
    .blog-card__date 22.01.2017, 18:01
// card
a(href='#').blog-card.blog-card--huge.wow.transformUp(data-wow-delay='0.4s' data-id='10')
  .blog-card__image
    img(src='images/blog/blogCard_2.jpg' srcset='images/blog/blogCard_2@2x.jpg 2x')
  .blog-card__content
    .blog-card__name Что такое пейзаж 10
    .blog-card__date 22.01.2017, 18:01
