// next project
.project(data-id='5')
  a(href='#').project__image
    img(src='images/projects/projectItem_1.jpg' srcset='images/projects/projectItem_1@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
// next project
.project(data-id='6')
  a(href='#').project__image
    img(src='images/projects/projectItem_2.jpg' srcset='images/projects/projectItem_2@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
// next project
.project(data-id='7')
  a(href='#').project__image
    img(src='images/projects/projectItem_3.jpg' srcset='images/projects/projectItem_3@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
// next project
.project(data-id='8')
  a(href='#').project__image
    img(src='images/projects/projectItem_4.jpg' srcset='images/projects/projectItem_4@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
      
      
// next project
.project(data-id='9')
  a(href='#').project__image
    img(src='images/projects/projectItem_1.jpg' srcset='images/projects/projectItem_1@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
// next project
.project(data-id='10')
  a(href='#').project__image
    img(src='images/projects/projectItem_2.jpg' srcset='images/projects/projectItem_2@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
// next project
.project(data-id='11')
  a(href='#').project__image
    img(src='images/projects/projectItem_3.jpg' srcset='images/projects/projectItem_3@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
// next project
.project(data-id='12')
  a(href='#').project__image
    img(src='images/projects/projectItem_4.jpg' srcset='images/projects/projectItem_4@2x.jpg 2x')
  .project__bottom
    .project__name Сергей, Москва
    .project__like
      i.icon.icon-like
      span 88
      
