doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    
    .page
      .page__content
        
        .container
          .project-details
            a(href='#').profile-heading__back.profile-heading__back--blog
              img(src='images/el/backIco.png' srcset='images/el/backIco@2x.png 2x')
              span назад
            // PROJECT HEAD
            .project-details__head
              .project-details__head__left
                // PROFILE HEADING::START
                .profile-heading.profile-heading--smaller
                  .profile-heading__sub
                    .t-head.t-head--gray Живопись
                    a(href='#').simple-link 
                      span Узнать подробнее о курсе
                  .t-head Учимся рисовать крокодила
                
                .project-details__like
                  .project-details__like__counter 32
                  span — нажми, если нравится!
              
              // SIDEBAR
              .project-details__sidebar
                .project-details__sidebar__head
                  span Поделись:
                .project-details__sidebar__socials
                  a(href='#' target='_blank')
                    i.icon.icon-facebook
                  a(href='#' target='_blank')
                    i.icon.icon-vk
                  a(href='#' target='_blank')
                    i.icon.icon-insta
                        
            .project-details__content
              .project-details__image
                img(src='images/blog/blogContentPic.jpg' srcset='images/blog/blogContentPic@2x.jpg 2x')
              
              // comment
              .comment
                .comment__avatar
                  .header__user__avatar
                    .header__user__image
                      img(src='images/tmp/avatar.png' srcset='images/tmp/avatar@2x.png 2x')
                .comment__content
                  .comment__author Автор, Владимир-Долгий-Рапопорт
                  .comment__date 26 окт 2016, 18:21
                  .comment__text.comment__text--muted
                    p Практика однозначно показывает, что перераспределение бюджета усиливает конструктивный традиционный канал. Рейтинг, в рамках сегодняшних воззрений, позиционирует охват аудитории. Фирменный стиль основательно подпорчен предыдущим опытом применения.
              .comment.comment--reply
                .comment__reply-head
                  .comment__reply-head__author
                    .comment__author куратор Сергей Арутюнов
                    .comment__date 26 окт 2016, 18:21
                  .comment__avatar
                    img(src='images/tmp/commentAuthor.png' srcset='images/tmp/commentAuthor@2x.png 2x')
                .comment__content
                  .comment__text
                    p Практика однозначно показывает, что перераспределение бюджета усиливает конструктивный традиционный канал. Рейтинг, в рамках сегодняшних воззрений, позиционирует охват аудитории. Фирменный стиль основательно подпорчен предыдущим опытом применения.
                              
                  
              // COMMENTS
              .comments
                .comments__head
                  .t-head Комментарии
                  a(href='#').btn.btn--primary.btn--outline 
                    span Написать комментарий
                
                // comment
                .comment
                  .comment__avatar
                    .header__user__avatar
                      .header__user__image
                        img(src='images/tmp/avatar.png' srcset='images/tmp/avatar@2x.png 2x')
                  .comment__content
                    .comment__author Автор, Владимир-Долгий-Рапопорт
                    .comment__date 26 окт 2016, 18:21
                    .comment__text 
                      p Практика однозначно показывает, что перераспределение бюджета усиливает конструктивный традиционный канал. Рейтинг, в рамках сегодняшних воззрений, позиционирует охват аудитории. Фирменный стиль основательно подпорчен предыдущим опытом применения.
                
                // comment
                .comment
                  .comment__avatar
                    .header__user__avatar
                      .header__user__image
                        img(src='images/tmp/avatar.png' srcset='images/tmp/avatar@2x.png 2x')
                  .comment__content
                    .comment__author Автор, Владимир-Долгий-Рапопорт
                    .comment__date 26 окт 2016, 18:21
                    .comment__text 
                      p Наряду с этим, восприятие марки индуцирует стратегический метод изучения рынка. Потребительский рынок оправдывает формат события, учитывая современные тенденции. Согласно последним исследованиям, идеология выстраивания бренда концентрирует институциональный мониторинг активности.
                      p Product placement абстрактен. Можно предположить, что рекламная кампания концентрирует общественный бренд. Согласно последним исследованиям, косвенная реклама масштабирует связанный стиль менеджмента.

                
  
      include shared/footer.pug
      
    include shared/scripts.pug
