doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-l.pug
    
    .page.header-static
      .page__content
        // LESSON
        .lesson
          // LESSON CONTENT
          .lesson__content
            .container

              .lesson__content__text
                .t-head Инвентарь
                
                h2.ttu Вот что понадобится на уроке
                
                .blog__content__pic-row
                  .blog__content__pic-row__image
                    img(src='images/blog/blogContentRow_3.jpg' srcset='images/blog/blogContentRow_3@2x.jpg 2x')
                  .blog__content__pic-row__content
                    p В соответствии с законом Ципфа, искусство медиапланирования последовательно транслирует целевой сегмент рынка. CTR, конечно, абстрактен. Сегмент рынка ригиден.
                .blog__content__pic-row
                  .blog__content__pic-row__image
                    img(src='images/lessons/kraskiText.png' srcset='images/lessons/kraskiText@2x.png 2x')
                  .blog__content__pic-row__content
                    p В соответствии с законом Ципфа, искусство медиапланирования последовательно транслирует целевой сегмент рынка. CTR, конечно, абстрактен. Сегмент рынка ригиден.
                
                h2.ttu Скачать файлы
                
                .lesson__content__inv
                  a(href='#').lesson__content__inv__item
                    img(src='images/el/pdf.jpg' srctset='images/el/pdf@2x.jpg 2x')
                    span Руководство как пользоваться кистью
                  a(href='#').lesson__content__inv__item
                    img(src='images/el/jpg.jpg' srctset='images/el/jpg@2x.jpg 2x')
                    span Изображение
                  a(href='#').lesson__content__inv__item
                    img(src='images/el/zip.jpg' srctset='images/el/zip@2x.jpg 2x')
                    span Архив скетчей для рисования
                  
              
          // SIDEBAR
          .lesson__sidebar.lesson__sidebar--dark
            .lesson__sidebar__toggler(data-text-hidden='Свернуть' data-action='show')
              span Смотреть оглавление
            .lesson__sidebar__content
              ul.lesson__control
                li(data-something='').disabled 1
                li(data-something='').disabled 2
                li(data-something='').disabled 3 
                li(data-something='').active 4 
                li(data-something='') 5 
                li(data-something='') 6 
                li(data-something='') 7 
                li(data-something='') 8 
              
              // sidebar roadmap
              .lesson__roadmap
                // item
                .lesson__roadmap__item.lesson__roadmap__item--past
                  .lesson__roadmap__item__date 04:21
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Начинаем делать папье-маше
                // item
                .lesson__roadmap__item.lesson__roadmap__item--past
                  .lesson__roadmap__item__date 12:23
                  .lesson__roadmap__item__icon
                    i.icon.ico-practice-done
                  .lesson__roadmap__item__name Учимся рисовать рукой
                // item
                .lesson__roadmap__item.active
                  .lesson__roadmap__item__date 04:21
                  .lesson__roadmap__item__icon
                    i.icon.ico-practice
                  .lesson__roadmap__item__name Начинаем делать папье-маше
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 06:54
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Смотрим цвет
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 05:11
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Практикуемся ручной труд и пастель
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 06:54
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Смотрим цвет
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 04:21
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Начинаем делать папье-маше
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 05:11
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Практикуемся ручной труд и пастель
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 05:11
                  .lesson__roadmap__item__icon
                    i.icon.ico-practice
                  .lesson__roadmap__item__name Практикуемся ручной труд и пастель



      include shared/footer.pug
      
    include shared/scripts.pug
