doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-l.pug
    
    .page.header-static
      .page__content
        // LESSON
        .lesson
          // LESSON CONTENT
          .lesson__content
            .container

              .lesson__content__text
                .t-head Практическое занятие:
                .lesson__content__status.lesson__content__status--top
                  span ожидает проверки куратором
                  i.icon.icon-pending-check
                
                .blog__content__text
                  p Практика однозначно показывает, что перераспределение бюджета усиливает конструктивный традиционный канал. Рейтинг, в рамках сегодняшних воззрений, позиционирует охват аудитории. Фирменный стиль основательно подпорчен предыдущим опытом применения.
          
                .upload-form.upload-form--disabled
                  form(action='#').dropzone#my-awesome-dropzone
                    .fallback
                      input(name='file', type='file', multiple='')
                    .dz-message
                    img(src='images/lessons/lessonUpload.jpg' srcset='images/lessons/lessonUpload@2x.jpg 2x')
                    
                    


                  .ui-group
                    .ui__toggler.left
                      .ui__toggler__box
                        input(type='hidden' value='')
                      label Опубликовать в галерею
                      
                  
                  .ui-form-helper Ваш комментарий к работе
                  // comment
                  .comment.comment--mute
                    .comment__content
                      .comment__text 
                        p Практика однозначно показывает, что перераспределение бюджета усиливает конструктивный традиционный канал. Рейтинг, в рамках сегодняшних воззрений, позиционирует охват аудитории. Фирменный стиль основательно подпорчен предыдущим опытом применения.
                  
                  // comment
                  .comment.comment--reply
                    .comment__reply-head
                      .comment__reply-head__author
                        .comment__author куратор Сергей Арутюнов
                        .comment__date 26 окт 2016, 18:21
                      .comment__avatar
                        img(src='images/tmp/commentAuthor.png' srcset='images/tmp/commentAuthor@2x.png 2x')
                    .comment__content
                      .comment__text
                        p Практика однозначно показывает, что перераспределение бюджета усиливает конструктивный традиционный канал. Рейтинг, в рамках сегодняшних воззрений, позиционирует охват аудитории. Фирменный стиль основательно подпорчен предыдущим опытом применения.
                                    
                  .lesson__content__hr
                            
                  a(href='#').btn.btn--primary.btn--outline
                    span Перейти к следующему уроку
                    
          // SIDEBAR
          .lesson__sidebar.lesson__sidebar--dark
            .lesson__sidebar__content
              ul.lesson__control
                li(data-something='').disabled 1
                li(data-something='').disabled 2
                li(data-something='').disabled 3 
                li(data-something='').active 4 
                li(data-something='') 5 
                li(data-something='') 6 
                li(data-something='') 7 
                li(data-something='') 8 
              
              // sidebar roadmap
              .lesson__roadmap
                // item
                .lesson__roadmap__item.lesson__roadmap__item--past
                  .lesson__roadmap__item__date 04:21
                  .lesson__roadmap__item__icon 
                    i.icon.ico-practice-done
                  .lesson__roadmap__item__name Начинаем делать папье-маше
                // item
                .lesson__roadmap__item.lesson__roadmap__item--past
                  .lesson__roadmap__item__date 12:23
                  .lesson__roadmap__item__icon
                    i.icon.ico-practice-comment
                  .lesson__roadmap__item__name Учимся рисовать рукой
                // item
                .lesson__roadmap__item.lesson__roadmap__item--active
                  .lesson__roadmap__item__date 04:21
                  .lesson__roadmap__item__icon
                    i.icon.ico-practice-pending
                  .lesson__roadmap__item__name Начинаем делать папье-маше
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 06:54
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Смотрим цвет
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 05:11
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Практикуемся ручной труд и пастель
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 06:54
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Смотрим цвет
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 04:21
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Начинаем делать папье-маше
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 05:11
                  .lesson__roadmap__item__icon 
                  .lesson__roadmap__item__name Практикуемся ручной труд и пастель
                // item
                .lesson__roadmap__item
                  .lesson__roadmap__item__date 05:11
                  .lesson__roadmap__item__icon
                    i.icon.ico-practice
                  .lesson__roadmap__item__name Практикуемся ручной труд и пастель



      include shared/footer.pug
      
    include shared/scripts.pug
