doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-phone-only.pug
    
    .page
      .page__content
        // SALEPAGE :: START
        .container.wow.fadeIn
          .course-card.course-card--hero.course-card--special
            .course-card__image
              img(src='images/courses/courseArt.jpg' srcset='images/courses/courseArt@2x.jpg 2x').course-card__image__desktop
              img(src='images/courses/compare_1.jpg' srcset='images/courses/compare_1@2x.jpg 2x').course-card__image__mobile
            .course-card__content
              .course-card__top на специальных условиях
              .course-card__name Живопись дома
              .course-card__desc 2 часа 45 минут  <br><span>•</span>  18 уроков  <br><span>•</span>  12 практических заданий
              .course-card__special Ограниченный набор на специальных условиях (до 15 августа)
              
              .course-card__cta
                .course-card__old-price
                  | от 18 500
                .course-card__price.course-card__price--mega
                  | 15 000
                  span.icon-rub ₽
                a(href='#').btn.btn--primary.btn--pink
                  span купить
                
        // COURSE AUTHOR :: START      
        .course-author.wow.transformUp(data-wow-delay='1s')
          .container.container--1100
            .course-author__wrapper
              .course-author__content
                .course-author__author
                  | виктория кошелева
                  span Автор курса
                .course-author__text
                  p Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. Конкурент создает эмпирический комплексный анализ ситуации. 
                  p Узнаваемость марки, как следует из вышесказанного, восстанавливает опрос. В общем, имидж слабо притягивает анализ рыночных цен. 
              .course-author__image
                img(src='images/courses/courseAuthor.jpg' srctset='images/courses/courseAuthor@2x.jpg 2x')
                    
        // VIDEO :: START
        .video.wow.fadeIn
          .container
            .video__wrapper
              .video__content
                .video__player.video__player--dark
                  i.icon.icon-circle
                    i.icon.icon-play
                  img(src='images/tmp/video2.jpg' srcset='images/tmp/video2@2x.jpg 2x')
                  // place iframe with ?autoplay=0 param, don't forget about 100% width and height
                  iframe(src='https://player.vimeo.com/video/72874423?autoplay=0', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

        // COURSE PROGRAMM
        .course-program
          .container
            .heading-gray.heading-gray--mega.wow.transformUp программа
            .course-program__wrapper
              // item
              .course-program__item.visible(data-visible='1' data-wow-delay='.2s').wow.transformUp
                .course-program__item__name урок 1
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item.visible(data-visible='1' data-wow-delay='.4s').wow.transformUp
                .course-program__item__name урок 2
                .course-program__item__tag
                  img(src='images/el/tag_interesting.png' srcset='images/el/tag_interesting@2x.png 2x')
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item(data-visible='0')
                .course-program__item__name урок 3
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item(data-visible='0')
                .course-program__item__name урок 4
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item(data-visible='0')
                .course-program__item__name урок 5
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item(data-visible='0')
                .course-program__item__name урок 6
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
                  
              // toggle
              .course-program__toggler.wow.transformUp(data-wow-delay='.6s')
                .dashed-link.js-toggleProgramCourses(data-action='open')
                  span развернуть всю программу
                  
        // COMPARE
        .compare.wow.fadeIn
          .compare__wrapper
            .compare__col
              .compare__name до
              .compare__desc смотришь сериал, не видишь краски <br> скучно, депрессия
              .compare__image
                img(src='images/courses/compare_1.jpg' srcset='images/courses/compare_1@2x.jpg 2x')
            .compare__col
              .compare__name после
              .compare__desc классно рисуешь, видишь мир в новых красках <br> новые друзья, отличное настроение
              .compare__image
                img(src='images/courses/compare_2.jpg' srcset='images/courses/compare_2@2x.jpg 2x')
                
        // BENEFITS
        .benefits
          .container.container--900
            .heading-gray.heading-gray--mega.wow.transformUp возможности
            .benefits__wrapper.benefits__wrapper--2col
              .benefits__card.wow.transformUp(data-wow-delay='.2s')
                .benefits__card__image
                  img(src='images/el/icon-eye.png' srcset='images/el/icon-eye@2x.png 2x')
                .benefits__card__name Личный контакт
                .benefits__card__desc В рамках специального набора в первую онлайн-группу мы проведем несколько 2 поддерживающих вебинара с автором курса, на котором вы лично сможете задать вопросы художнику и узнать много интересного, что не вошло в основной курс.
              .benefits__card.wow.transformUp(data-wow-delay='.4s')
                .benefits__card__image
                  img(src='images/el/icon-chat.png' srcset='images/el/icon-chat@2x.png 2x')
                .benefits__card__name Закрытая FB-группа
                .benefits__card__desc Вы получите приглашение в закрытую FB-группу,  где ученики студии делятся своим опытом,  а преподаватели в любой момент готовы помочь вам рисовать ещё лучше.
            .course-price.course-price--disabled.wow.transformUp(data-wow-delay='.6s')
              .course-price__value 4 560 Р
              .course-price__cta
                a(href='#').btn.btn--primary.btn--pink.disabled
                  span добавлено к заказу
            .course-price-label.wow.transformUp(data-wow-delay='.7s') Бесплатно при заказе до 15 августа
                
        // SUPPLEMENTARY GOOD
        .supp
          .supp__arrow.wow.transformUp
            img(src='images/el/supp_arrow.png' srcset='images/el/supp_arrow@2x.png 2x')
          .container.container--900
            .supp__wrapper.wow.transformUp(data-wow-delay='1s')
              .heading-gray.heading-gray--mega.wow.transformUp(data-wow-delay='.2s') Какой набор  вам подходит?
              
              .supp__card-items
                .supp__card.wow.transformUp(data-wow-delay='.2s')
                  .supp__card__image
                    img(src='images/el/supp_kraski.png' srcset='images/el/supp_kraski@2x.png 2x')
                  .supp__card__title Basic
                  .supp__card__text Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
                  .course-price
                    .course-price__value +2 500 Р
                    .course-price__cta
                      a(href='#').btn.btn--primary.btn--pink.js-btnAddForm(data-checkbox='checkbox_3')
                        span добавить к заказу
                .supp__card.wow.transformUp(data-wow-delay='.4s')
                  .supp__card__image
                    img(src='images/el/supp_kara.png' srcset='images/el/supp_kara@2x.png 2x')
                  .supp__card__title Premium
                  .supp__card__text Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
                  .course-price
                    .course-price__value +8 600 Р
                    .course-price__cta
                      a(href='#').btn.btn--primary.btn--pink.js-btnAddForm(data-checkbox='checkbox_4')
                        span добавить к заказу

          .supp__arrow.wow.transformUp
            img(src='images/el/supp_arrow.png' srcset='images/el/supp_arrow@2x.png 2x')
                            
        // COURSE CTA
        .course-cta
          .container.container--1100
            .heading-gray.heading-gray--mega.wow.transformUp пришло время  <br> покупать
            .course-cta__wrapper
              form(action='#').course-cta__form.course-cta__form--reverse-tablet.js-form-landingCta.wow.transformUp(data-wow-delay='.2s')
            
                .course-cta__cta.course-cta__cta--mobile
                  .course-price__value 28 560 Р
                  button(type='submit').btn.btn--primary.btn--pink.btn--block 
                    span ПЕРЕЙТИ К ОПЛАТЕ
                
                .course-cta__col
                  .ui-group
                    input(type='text' name='name' placeholder='Ваше имя*').ui-input
                  .ui-group
                    input(type='email' name='email' placeholder='E-mail*').ui-input
                  .ui-group
                    input(type='tel' name='phone' placeholder='+7 (___) ___-__-__').ui-input
                  .ui-group.ui-group--hidden(data-for='present')
                    input(type='text' name='present_fio' placeholder='Имя получателя*').ui-input
                  .ui-group.ui-group--hidden(data-for='present')
                    input(type='email' name='present_email' placeholder='E-mail получателя*').ui-input
                  .ui-group.ui-group--hidden.ui-group--two-row(data-for='delivery')
                    input(type='text' name='country' placeholder='Страна *').ui-input
                    input(type='text' name='index' placeholder='Индекс').ui-input.js-indexMask
                  .ui-group.ui-group--hidden(data-for='delivery')
                    input(type='text' name='city' placeholder='Город*').ui-input
                  .ui-group.ui-group--hidden.ui-group--three-row(data-for='delivery')
                    input(type='text' name='adress' placeholder='Улица*').ui-input
                    input(type='text' name='adress_h' placeholder='Дом*').ui-input
                    input(type='text' name='adress_k' placeholder='Кв*').ui-input
                  .ui-group
                    textarea(placeholder='Комментарий' rows='5').ui-input  
                  .ui-checkbox
                    input(type='checkbox' name='agree' id='agree')
                    label(for='agree') Соглашаюсь на обработку своих персональных данных
                    
                .course-cta__col
                  .course-cta__checkboxes
                    // ui-checkbox--dynamic-label
                    // hide label description prior check
                    .ui-checkbox(data-type='present')
                      input(type='checkbox' id='checkbox_1')
                      label(for='checkbox_1') 
                        | Я покупаю в подарок
                        .ui-checkbox__sublabel Мы отправим специальное поздравительное  письмо в нужное время на указанный e-mail
                    .ui-checkbox.ui-checkbox--disabled
                      input(type='checkbox' id='checkbox_2' checked)
                      label(for='checkbox_2') 
                        | Активируйте VIP-пакет
                        .ui-checkbox__promo-val Бесплатно до 15 августа
                        .ui-checkbox__sublabel Личный контакт + закрытая группа
                    .ui-checkbox(data-price='2500' data-type='delivery')
                      input(type='checkbox' id='checkbox_3')
                      label(for='checkbox_3') 
                        | Да, привезите мне Draw-бокс Basic
                        .ui-checkbox__promo-val +2 500 ₽
                        .ui-checkbox__sublabel Доставка считается отдельно  и оплачивается получателем
                    .ui-checkbox(data-price='8600' data-type='present delivery')
                      input(type='checkbox' id='checkbox_4')
                      label(for='checkbox_4') 
                        | Люблю всё самое лучшее, хочу Draw-бокс Premium
                        .ui-checkbox__promo-val   +8 600 ₽
                        .ui-checkbox__sublabel Доставка считается отдельно  и оплачивается получателем

                  .course-cta__cta
                    .course-price__value 28 560 Р
                    button(type='submit').btn.btn--primary.btn--pink.btn--block 
                      span ПЕРЕЙТИ К ОПЛАТЕ
                    
        // GIFT
        .gift
          .container.container--1100
            .gift__title.wow.transformUp
              .gift__title__text купи курс и мы подарим <br> еще один тому, кто не <br> может его себе позволить
              .gift__title__bg 
                img(src='images/el/giftBg.png' srcset='images/el/giftBg@2x.png 2x')
            .gift__wrapper.wow.transformUp(data-wow-delay='0.2s')
              .gift__banner
                img(src='images/el/giftPlus.png' srcset='images/el/giftPlus@2x.png 2x')
              .gift__title.gift__title--mobile
                .gift__title__text купи курс и мы подарим <br> еще один тому, кто не <br> может его себе позволить
              .gift__text.gift__text--wide
                p Наша главная миссия – нести творчество людям, не зависимо от их возможностей и достатка. Мы знаем, какими волшебными свойствами обладает рисование, как оно преображает вашу жизнь, и хотим дарить это благо тем, кто в этом нуждается.
                p Поэтому при покупке каждого курса, совместно с нашими партнерами мы открываем доступ к материалам и отправляем базовый художественный набор тем, кто не может физически попасть в нашу студию в Москве или не может позволить себе обучение.
                p Приобретая онлайн курс в Draw&Go вы становитесь частью этого большого доброго дела и сможете следить за успехами того, кто учится рисовать благодаря Вам.
            .gift__btn
              a(href='#').btn.btn--primary.btn--pink 
                span Выбрать курс


        // COURSE QUESTIONS
        .course-questions.js-togglerPlugin
          .container.container--900
            .heading-gray.heading-gray--mega.wow.fadeIn остались вопросы?
            .course-questions__wrapper
              .course-questions__item.course-questions__item--left.wow.fadeIn(data-visible='1')
                .course-questions__item__name Что делать, если мне не понравится курс?
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
              .course-questions__item.course-questions__item--right.wow.fadeIn(data-visible='1')
                .course-questions__item__name А если понравился, но я хочу вернуть деньги обратно?
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
              .course-questions__item.course-questions__item--async.wow.fadeIn(data-visible='0')
                .course-questions__item__name А если понравился, но я хочу вернуть деньги обратно?
                img(src='images/courses/courseQuestionImg.jpg' srcset='images/courses/courseQuestionImg@2x.jpg 2x')
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
              .course-questions__item.course-questions__item--left.course-questions__item--right-tablet.wow.fadeIn(data-visible='0')
                .course-questions__item__name Что делать, если мне не понравится курс?
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
            
            .course-questions__toggler.wow.transformUp(data-wow-delay='.6s')
              .dashed-link.js-togglerPluginTrigger(data-action='open' data-text='скрыть вопросы')
                span показать все вопросы
                    
        // BACKPAGE
        .backpage.wow.fadeIn
          .container.container--1000
            .backpage__wrapper
              img(src='images/el/backPage.png' srcset='images/el/backPage@2x.png 2x')
              a(href='#') 
                span Верните меня обратно к покупке, пожалуйста.
                
      include shared/footer.pug
      
    include shared/scripts.pug
