doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    
    .page.header-static
      .page__content
        // SALEPAGE :: START
        .container.wow.fadeIn
          .course-card.course-card--hero
            .course-card__image
              img(src='images/courses/courseArt.jpg' srcset='images/courses/courseArt@2x.jpg 2x')
            .course-card__content
              .course-card__name Живопись дома
              .course-card__desc 2 часа 45 минут  •  18 уроков  •  12 практических заданий
              
              .course-card__cta
                a(href='#').btn.btn--primary.btn--pink
                  span купить
                .course-card__price 
                  | от 18 500
                  span.icon-rub ₽
                
        // COURSE AUTHOR :: START      
        .course-author.wow.fadeIn
          .container.container--1100
            .course-author__wrapper
              .course-author__content
                .course-author__author
                  | виктория кошелева
                  span Автор курса
                .course-author__text
                  p Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. Конкурент создает эмпирический комплексный анализ ситуации. 
                  p Узнаваемость марки, как следует из вышесказанного, восстанавливает опрос. В общем, имидж слабо притягивает анализ рыночных цен. 
              .course-author__image
                img(src='images/courses/courseAuthor.jpg' srctset='images/courses/courseAuthor@2x.jpg 2x')
                    
        // VIDEO :: START
        .video.wow.fadeIn
          .container
            .video__wrapper
              .video__content
                .video__player.video__player--dark
                  i.icon.icon-circle
                    i.icon.icon-play
                  img(src='images/tmp/video2.jpg' srcset='images/tmp/video2@2x.jpg 2x')
                  // place iframe with ?autoplay=0 param, don't forget about 100% width and height
                  iframe(src='https://player.vimeo.com/video/72874423?autoplay=0', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

        // COURSE PROGRAMM
        .course-program.wow.fadeIn
          .container
            .heading-gray.heading-gray--mega программа
            .course-program__wrapper
              // item
              .course-program__item.visible(data-visible='1')
                .course-program__item__name урок 1
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item.visible(data-visible='1')
                .course-program__item__name урок 2
                .course-program__item__tag
                  img(src='images/el/tag_interesting.png' srcset='images/el/tag_interesting@2x.png 2x')
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item(data-visible='0')
                .course-program__item__name урок 3
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
              // item
              .course-program__item(data-visible='0')
                .course-program__item__name урок 4
                .course-program__item__content Охват аудитории традиционно экономит анализ рыночных цен, учитывая современные тенденции. Привлечение аудитории, согласно Ф.Котлеру, допускает SWOT-анализ. 
                
              // toggle
              .course-program__toggler
                .dashed-link.js-toggleProgramCourses(data-action='open')
                  span развернуть всю программу
                  
        // COMPARE
        .compare.wow.fadeIn
          .compare__wrapper
            .compare__col
              .compare__name до
              .compare__desc смотришь сериал, не видишь краски <br> скучно, депрессия
              .compare__image
                img(src='images/courses/compare_1.jpg' srcset='images/courses/compare_1@2x.jpg 2x')
            .compare__col
              .compare__name после
              .compare__desc классно рисуешь, видишь мир в новых красках <br> новые друзья, отличное настроение
              .compare__image
                img(src='images/courses/compare_2.jpg' srcset='images/courses/compare_2@2x.jpg 2x')
                
        // BENEFITS
        .benefits.wow.fadeIn
          .container.container--900
            .heading-gray.heading-gray--mega возможности
            .benefits__wrapper.benefits__wrapper--2col
              .benefits__card
                .benefits__card__image
                  img(src='images/el/icon-eye.png' srcset='images/el/icon-eye@2x.png 2x')
                .benefits__card__name Личный контакт
                .benefits__card__desc В рамках любого занятия вас ждет выбор референса (примера), краткий теоретический экскурс, создание эскиза и работа с цветом.
              .benefits__card
                .benefits__card__image
                  img(src='images/el/icon-chat.png' srcset='images/el/icon-chat@2x.png 2x')
                .benefits__card__name Закрытая FB-группа
                .benefits__card__desc В рамках любого занятия вас ждет выбор референса (примера), краткий теоретический экскурс, создание эскиза и работа с цветом.
            .course-price
              .course-price__value 4 560 Р
              .course-price__cta
                a(href='#').btn.btn--primary.btn--pink 
                  span добавить к заказу
                
        // SUPPLEMENTARY GOOD
        .supp.wow.fadeIn
          .supp__arrow
            img(src='images/el/supp_arrow.png' srcset='images/el/supp_arrow@2x.png 2x')
          .container.container--1366
            .supp__wrapper
              .supp__image.supp__image--kraski
                img(src='images/el/supp_kraski.png' srcset='images/el/supp_kraski@2x.png 2x')
              .supp__image.supp__image--list
                img(src='images/el/supp_list.png' srcset='images/el/supp_list@2x.png 2x')
              .supp__image.supp__image--kara
                img(src='images/el/supp_kara.png' srcset='images/el/supp_kara@2x.png 2x')
              .supp__title Готовый набор красок именно для вас
              .supp__text В рамках любого занятия вас ждет выбор референса (примера), краткий теоретический экскурс, создание эскиза и работа с цветом. В дальнейшем, вы сможете развивать свои навыки, выбирая в качестве примеров все более и более сложные работы, сориентироваться в которых вам помогут наши преподаватели. 
            .course-price
              .course-price__value 4 560 Р
              .course-price__cta
                a(href='#').btn.btn--primary.btn--pink 
                  span добавить к заказу
      
        // TESTIMONIALS
        .testimonials.wow.fadeIn
          .container
            .testimonials__box
              .heading-gray.heading-gray--mega отзывы
              .testimonials__slider
                // slide
                .testimonials__slide
                  .testimonials__box__wrapper
                    .testimonials__box__image
                      img(src='images/tmp/testimonialsBox.jpg' srctset='images/tmp/testimonialsBox@2x.jpg 2x')
                      span Работа Марата
                    .testimonials__box__content
                      .testimonials__box__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
                      .testimonials__box__author
                        .testimonials__box__author__avatar
                          img(src='images/tmp/TestimonialsAvatar.png' srctset='images/tmp/TestimonialsAvatar@2x.png 2x')
                        .testimonials__box__author__name Марат, 24 года <span> Архитектор</span>
                        
                    .testimonials__slide__nav.testimonials__slide__nav--single
                      span Следующий отзыв
                      i.icon.icon-slide-next

                // slide
                .testimonials__slide
                  .testimonials__box__wrapper
                    .testimonials__box__image
                      img(src='images/tmp/testimonialsBox.jpg' srctset='images/tmp/testimonialsBox@2x.jpg 2x')
                      span Работа Марата
                    .testimonials__box__content
                      .testimonials__box__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
                      .testimonials__box__author
                        .testimonials__box__author__avatar
                          img(src='images/tmp/TestimonialsAvatar.png' srctset='images/tmp/TestimonialsAvatar@2x.png 2x')
                        .testimonials__box__author__name Марат, 24 года <span> Архитектор</span>
                        
                    .testimonials__slide__nav.testimonials__slide__nav--single
                      span Следующий отзыв
                      i.icon.icon-slide-next

        
        // COURSE CTA
        .course-cta.wow.fadeIn
          .container.container--1100
            .heading-gray.heading-gray--mega пришло время  <br> покупать
            .course-cta__wrapper
              form(action='#').course-cta__form.js-form-courseCta
                .course-cta__col
                  .ui-group
                    input(type='text' name='name' placeholder='Ваше имя').ui-input
                  .ui-group
                    input(type='tel' name='phone' placeholder='+7 (___) ___-__-__').ui-input
                  .ui-group
                    input(type='text' name='city' placeholder='Город').ui-input
                  .ui-group
                    input(type='text' name='adress' placeholder='Улица и номер дома').ui-input  
                  .ui-group
                    textarea(placeholder='Дополнительные сведения' rows='5').ui-input  
                
                .course-cta__col
                  .course-cta__checkboxes
                    .ui-checkbox
                      input(type='checkbox' id='checkbox_1')
                      label(for='checkbox_1') Я покупаю в подарок
                    .ui-checkbox
                      input(type='checkbox' id='checkbox_2')
                      label(for='checkbox_2') 
                        | Активируйте VIP-пакет <span>(+5000₽)</span>
                        .ui-checkbox__sublabel Личный контакт + закрытая группа
                    .ui-checkbox
                      input(type='checkbox' id='checkbox_3')
                      label(for='checkbox_3') 
                        | Да, привезите мне коробку! <span>(+2500₽)</span>
                        .ui-checkbox__sublabel Прямо до вашему дома
                  .course-cta__cta
                    .course-price__value 28 560 Р
                    button(type='submit').btn.btn--primary.btn--pink.btn--block 
                      span ПЕРЕЙТИ К ОПЛАТЕ      
                    
        // GIFT
        .gift.wow.fadeIn
          .container.container--1100
            .gift__title 
              .gift__title__text купи курс и мы подарим <br> еще один тому, кто не <br> может его себе позволить
              .gift__title__bg 
                img(src='images/el/giftBg.png' srcset='images/el/giftBg@2x.png 2x')
            .gift__wrapper
              .gift__banner
                img(src='images/el/giftPlus.png' srcset='images/el/giftPlus@2x.png 2x')
              .gift__text
                p Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. 
                p Стоит отметить, что маркетингово-ориентированное издание поддерживает product  
                a(href='#').btn.btn--primary.btn--pink 
                  span Выбрать курс
        
        // COURSE QUESTIONS
        .course-questions
          .container.container--900
            .heading-mega.wow.fadeIn остались вопросы?
            .course-questions__wrapper
              .course-questions__item.course-questions__item--left.wow.fadeIn
                .course-questions__item__name Что делать, если мне не понравится курс?
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
              .course-questions__item.course-questions__item--right.wow.fadeIn
                .course-questions__item__name А если понравился, но я хочу вернуть деньги обратно?
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
              .course-questions__item.course-questions__item--async.wow.fadeIn
                .course-questions__item__name А если понравился, но я хочу вернуть деньги обратно?
                img(src='images/courses/courseQuestionImg.jpg' srcset='images/courses/courseQuestionImg@2x.jpg 2x')
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
              .course-questions__item.course-questions__item--left.wow.fadeIn
                .course-questions__item__name Что делать, если мне не понравится курс?
                .course-questions__item__text Не факт, что производство концентрирует презентационный материал. Направленный маркетинг развивает медиаплан. Стоит отметить, что маркетингово-ориентированное издание поддерживает product placement
                  
        // BACKPAGE
        .backpage
          .container.container--1000
            .backpage__wrapper
              img(src='images/el/backPage.png' srcset='images/el/backPage@2x.png 2x')
              a(href='#') 
                span Верните меня обратно к покупке, пожалуйста.
                
        // FIXED CTA
        .course-fixed
          .course-fixed__wrapper
            .course-fixed__name Живопись дома
              
            .course-fixed__cta
              a(href='#').btn.btn--primary.btn--pink
                span Купить
              span от 18 500 ₽
            
        
      include shared/footer.pug
      
    include shared/scripts.pug
